@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cafe24Oneprettynight";
  font-size: 27px;
  background-image: url("/static/images/img/night.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
}

p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 15px;
}

img {
  width: 200px;
}

.button-container {
  text-align: center;
}

button {
  font-family: "Cafe24Oneprettynight";
  font-size: 20px;
  width: 35%;
  height: 40px;
  padding: 8px 16px;
  margin: 5px 0;
  background-color: rgba(0, 123, 255, 0); /* 투명한 배경 설정 */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px, 0;
}

button:hover {
  background-color: #0056b3;
}

.input-container {
  text-align: center;
  margin-top: 20px;
}

input[name="nickname"] {
  display: block; /* Ensures centering */
  margin: 0 auto; /* Center horizontally */
  padding: 10px;
  border: 1px solid #fff;
  background-color: rgba(0, 123, 255, 0);
  border-radius: 5px;
  color: #fff;
  font-family: "Cafe24Oneprettynight";
  font-size: 20px;
  width: 50%;
  text-align: center;
}

input[name="nickname"]::placeholder {
  color: #999;
  font-family: "Cafe24Oneprettynight";
  font-size: 20px;
}
