@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Cafe24Oneprettynight";
  font-size: 27px;
  /* 여기에서 원하는 폰트 패밀리를 지정합니다. */
}

/* .container-fluid {
  background-image: url("/static/images/img/night.jpg");
  background-position: center;
  background-size: cover;
  background-color: black;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

body {
  background-image: url(../background/night.jpg);
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  color: rgb(221, 221, 221);
}

/* div.container {
} */

#backgroundMusic {
  display: none;
}

#feedback {
  font-family: "Cafe24Oneprettynight";
  text-align: center;
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

h1 {
  font-family: "Cafe24Oneprettynight";
  text-align: center;
  color: rgb(221, 221, 221);
}

input[type="hidden"] {
  display: none;
}

video {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  border: 1px solid #fff;
}

.input-container {
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: space-around; /* Adjust the space between the buttons */
  margin-top: 20px; /* Adjust the margin as needed */
}

.button-container button {
  text-align: center;
  font-family: "Cafe24Oneprettynight";
  font-size: 20px;
  border-radius: 5px;
  width: 30%; /* Adjust button width as needed */
  height: 40px;
  padding: 8px 16px;
  background-color: rgba(0, 123, 255, 0);
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 5px 0; /* Adjust vertical margin to separate the buttons */
}

button:hover {
  background-color: #0056b3;
}
