@font-face {
  font-family: "Cafe24Oneprettynight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.container-fluid {
  background: url(/static/images/img/night.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
  margin: 0;
  padding: 0;
}

.timeline_wrap {
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline_btn {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: navy;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
  border: none;
}

.timeline_btn:hover {
  background-color: navy;
  color: white;
  cursor: pointer;
}

.select_date {
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
  color: navy;
}

.target_time_title {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
}

.ttt_input_area {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.bar {
  color: white;
}

.select_box1,
.select_box2 {
  border: none;
  border-radius: 12%;
  background-color: white;
  color: navy;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
  font-size: 18px;
}

.img_wrap {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 132%;
}

.show_img_btn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 75%;
  font-size: 24px;
  font-weight: bold;
  font-family: "Cafe24Oneprettynight";
  border: none;
  background-color: white;
  color: navy;
}

.show_img_btn:hover {
  background-color: navy;
  color: white;
  cursor: pointer;
}
