<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>재움</title>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
  </head>
  <body>
    <div class="container">
      <br />
      <br />
      <br />
      <br />

      <img
        src="/static/images/img/logo.png"
        alt="재움"
        style="max-width: 100%; height: auto"
      />
      <p>닉네임을 생성하거나 기존 닉네임을 입력해주세요.</p>
      <div class="input-container">
        <input
          name="nickname"
          id="nickname"
          placeholder="닉네임을 입력해주세요"
        />
        <button id="saveButton" class="saveButton">생성</button>
      </div>
      <br />

      <div class="button-container">
        <button id="capButton" class="capButton">수면측정</button>
        <button id="scoreButton" class="scoreButton">수면점수</button>
        <button id="statisticsButton" class="statisticsButton">수면통계</button>
        <button id="timelineButton" class="timelineButton">타임라인</button>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <script src="static/js/home.js"></script>
  </body>
</html>
