<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>재움</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
  </head>
  <body>
    <div class="container">
      <img src="/static/images/img/logo.png" alt="재움" />
      <p>사용자를 생성하거나 기존 사용자로 로그인하세요.</p>
      <div class="input-container">
        <input
          name="nickname"
          id="nickname"
          placeholder="닉네임을 입력해주세요"
        />
        <div class="button-container">
          <button id="saveButton">생성</button>
        </div>
      </div>

      <div class="button-container">
        <button id="capButton">수면측정</button>
        <button id="scoreButton">수면점수</button>
        <button id="statisticsButton">수면통계</button>
        <button id="timelineButton">타임라인</button>
      </div>
    </div>
    <script src="static/js/home.js"></script>
  </body>
</html>
