<!DOCTYPE html>
<html>
  <head>
    <title>메인 화면</title>
    <link rel="stylesheet" type="text/css" href="static/css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>재움</h1>
      <p>사용자를 생성하거나 기존 사용자로 로그인하세요.</p>
      <div class="input-container">
        <input
          name="nickname"
          id="nickname"
          placeholder="닉네임을 입력해주세요"
        />
      </div>
      <div class="button-container">
        <button id="saveButton">새로운 사용자 생성</button>
        <button id="capButton">촬영페이지로</button>
        <button id="scoreButton">수면점수확인</button>
        <button id="timelineButton">일일 수면 타임라인</button>
      </div>
    </div>
    <script src="static/js/home.js"></script>
  </body>
</html>
