<!DOCTYPE html>
{% extends "header.html" %} {% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/record.css" />

<div class="container-fluid">
  <audio id="backgroundMusic" controls autoplay>
    <source src="static/music/{{randomMusic}}" type="audio/mpeg" />
  </audio>

  <div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1>수면 측정</h1>
    <input type="hidden" id="nickname" name="nickname" value="{{ nickname }}" />
    <input type="hidden" id="sleep_info_id" value="{{ sleep_info_id }}" />
    <!-- 웹캠 -->
    <br />
    <video id="camera" autoplay></video>
    <br />
    <div class="button-container">
      <button id="captureButton">촬영</button>
      <button id="endButton">종료</button>
    </div>
    <br />
    <div class="feedbackcontainer">
      <p id="feedback"></p>
      <div class="loader"></div>
    </div>
    <script src="static/js/record.js"></script>
    {% endblock %}
  </div>
</div>
