<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- 차트 위에 글씨써주는 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/statistics.css">
  </head>
  <script src="/static/js/statistics.js"></script>

  <body">
    
    <div id="statistics_container" class="container-fluid">

      <!-- svg아이콘: https://www.svgrepo.com/svg/412281/sleep -->
      <div class="icon-border">
        <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#66B2ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
        <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#66B2ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
        <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#66B2ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      </div>

    <!-- 7일간 수면 현황 시작 -->
    <h6>7일간 수면 현황</h6>
    
    <!-- 7일간 수면현황 테이블 -->
    <div id="statistics_table_div">
      <table border="1" class="statistics_tables">
        <tr>
          <th>총 수면시간</th> 
          <td><span id="sevendays_total_sleep_time"></span></td>
        </tr>
        <tr>
          <th>평균 수면시간</th>
          <td><span id="sevendays_average_sleep_time"></span></td>
        </tr>
        <tr>
          <th>평균 수면 점수</th>
          <td><span id="sevendays_sleep_score_average"></span>점</td>
        </tr>
      </table>
    </div>

    <!-- 7일간 수면현황 차트 -->
    <div class="chart_div">
      <canvas id="seven_days_chart" height="160px"></canvas>
    </div>

    <!-- 7일간 수면 현황 끝 -->

    <div class="icon-border">
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
    </div>


    <h6>기간별 수면 현황</h6>

    <!-- 기간별 날짜 출력 시작 (★default 일주일★) -->
    <h6> [ <span id="first_date"></span> ~ <span id="last_date"></span> ] </h6>
    <!-- 기간별 날짜 출력 끝 -->

    <!-- 기간별 수면정보 테이블 시작 -->
    <div id="statistics_table_div">
      <table border="1" class="statistics_tables">
        <tr>
          <th>총 수면시간</th> <!-- 전체 수면시간은 시간데이터를 초로 환산한 다음 합산 후 다시 시간으로 환산하면 될 듯 -->
          <td><span id="period_total_sleep_time"></span></td>
        </tr>
        <tr>
          <th>평균 수면시간</th>
          <td><span id="period_average_sleep_time"></span></td>
        </tr>
        <tr>
          <th>평균 수면 점수</th>
          <td><span id="period_average_sleep_score"></span>점</td>
        </tr>
      </table>
    </div>
    <!-- 기간별 수면정보 테이블 끝 -->

    <!-- 기간선택 버튼 시작 -->
    <div class="period_buttons btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-light active">
        <input type="radio" class="period_button" id="week" onClick="get_period_data(this.id)">1주
      </label>
      <label class="btn btn-light">
        <input type="radio" class="period_button" id="month" onClick="get_period_data(this.id)">1개월
      </label>
      <label class="btn btn-light">
        <input type="radio" class="period_button" id="sixmonths" onClick="get_period_data(this.id)">6개월
      </label>
      <label class="btn btn-light">
        <input type="radio" class="period_button" id="year" onClick="get_period_data(this.id)">1년
      </label>
      <label class="btn btn-light">
        <input type="radio" class="period_button" id="entire" onClick="get_period_data(this.id)">전체
      </label>
    </div>
    <!-- 기간선택 버튼 끝 -->

    <div class="icon-border">
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
    </div>

    <!-- 기간별 평균 수면시간 차트 시작 -->
      <h6>기간별 평균 수면시간</h6>
      
      <div class="chart_div">
        <canvas id="period_chart" height="300px"></canvas>
      </div>
    <!-- 기간별 평균 수면시간 차트 끝 -->

    <div class="icon-border">
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
    </div>

    <!-- 자세별 발생 횟수 차트 시작 -->
      <h6>기간내 자세별 발생 횟수</h6>

      <!-- 자세선택 버튼 시작 -->
      <!-- **몸방향: front, prone, left, right **자세: raise_arm, side, shrimp, knee_up, croos_legs, standard -->
      <div class="pose_buttons btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-light active">
          <input type="radio" class="pose_button" id="front" onClick="get_pose_chart(period, this.id)">정면
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="prone" onClick="get_pose_chart(period, this.id)">엎드려잠
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="side" onClick="get_pose_chart(period, this.id)">옆으로잠
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="shrimp" onClick="get_pose_chart(period, this.id)">새우잠
        </label>
      </div>
      <div class="pose_buttons btn-group btn-group-toggle pose_seconds" data-toggle="buttons">
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="raise_arm" onClick="get_pose_chart(period, this.id)">만세잠
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="knee_up" onClick="get_pose_chart(period, this.id)">무릎세운잠
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="cross_legs" onClick="get_pose_chart(period, this.id)">다리꼰잠
        </label>
        <label class="btn btn-light">
          <input type="radio" class="pose_button" id="standard" onClick="get_pose_chart(period, this.id)">바른자세
        </label>
      </div>
      
      <div class="chart_div">
        <canvas id="sleep_pose_chart"></canvas>
      </div>
    <!-- 자세별 발생 횟수 끝 -->

    <div class="icon-border">
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
      <svg height="15px" width="15px" version="1.1" id="Uploaded to svgrepo.com" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" xml:space="preserve" fill="#6666ff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <style type="text/css"> .puchipuchi_een{fill:#6666ff;} </style> <path class="puchipuchi_een" d="M28.62,17.482c0.508-0.452,1.324-0.028,1.215,0.675C28.797,24.865,22.998,30,16,30 C8.268,30,2,23.732,2,16C2,8.985,7.16,3.175,13.891,2.158c0.688-0.104,1.096,0.698,0.651,1.195C12.963,5.119,12,7.445,12,10 c0,5.523,4.477,10,10,10C24.542,20,26.858,19.047,28.62,17.482z"></path> </g></svg>
    </div>

      <div class="button-group">
        <button type="button" class="btn btn-light" id="toPageTop" onclick="scrollToTop()">TOP</button>
      </div>
    </div>
  </body>
</html>
